<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :topic_id, [['-- None --', '']] + @current_or_guest_user.topics.order(:name).map{ |t| [t.name, t.id] } %>
    <span id="add-new-topic">Add new topic</span>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <%= hidden_field_tag :return_to, posts_path %>
  <div class="actions">
    <%= f.submit %>
    <a id="formatting-help" href="#">Formatting help</a>
  </div>
<% end %>
