<% if @post.errors.any? %>
  var markup = '<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2><ul>'
  <% @post.errors.full_messages.each do |message| %>
    markup += '<li><%= message %></li>'
  <% end %>
  markup += '</ul>'
  $('#notices').append('<div class="error"><div class="remove_notice">X</div>' + markup + '</div>');
  var tag = '.error';
<% else %>
  $('#filter-container').after('<%= escape_javascript(render :partial=>'post', :locals=>{ :post=>@post }) %>');
  $('#filter-container').replaceWith('<%= escape_javascript(render :partial => 'filter') %>');
  $('.post:first').animate({ height: 'toggle', opacity: 1, paddingTop: "10px", paddingBottom: "10px" }, 400);
  $('#notices').append('<div class="notice"><%= notice %><div class="remove_notice">X</div></div>');
  var tag = '.notice';
<% end %>

$(tag).last().delay(2500).fadeOut('slow', function(){ $(this).remove(); });
