<p id="notice"><%= notice %></p>

<div id="notices"></div>

<div id="post-index-form-container">
  <%= render :partial => 'posts/index_form' %>
  <div class="markup-reference">
    <div>Formatting Reference</div>
    <% @examples.each do |example| %>
      <div style="float: left"><p><%= example %></p></div>
      <div style="float: right;"><%= RedCloth.new(example).to_html.html_safe %></div>
      <div style="clear: both"></div>
    <% end %>
    <div>We use RedCloth for simple markup.  <%= link_to 'Learn more.', 'http://redcloth.org/textile' %></div>
  </div>
</div>

<div id="filter-container">
  <%= link_to 'clear filter', posts_path if params[:topic_id] %>
  <%= link_to 'none', posts_path(:topic_id => 'nil'),
      :class => "#{'current-page-link' if params[:topic_id] == 'nil'}" unless @current_or_guest_user.topics.empty? %>
  <% @current_or_guest_user.topics.order(:name).each do |topic| %>
    <%= link_to topic.name, posts_path(:topic_id => topic.id),
        :class => "#{'current-page-link' if params[:topic_id].to_i == topic.id}"  %>
  <% end %>
</div>

<% day = nil %>
<% @posts.each do |post| %>
  <div class="grid grid-pad">
    <div class="links">
      <%#= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post), :remote => true, :class => 'edit' %>
      <%= link_to 'Cancel', '#', :class => 'cancel' %>
      <%= link_to 'Destroy', post, method: :delete, :remote => true, data: { confirm: 'Are you sure?' }, :class => 'destroy' %>
    </div>
    <div class="date">
      <% unless day == post.created_at.strftime('%A') %>
        <% day = post.created_at.strftime('%A') %>
        <%= post.created_at.strftime('%a, %b %d, %Y') %>
      <% end %>
    </div>
    <div class="time"><%= post.created_at.strftime('%-I:%M %p') %></div>
    <div class="topic"><%= post.topic.name if post.topic %></div>
    <div class="body">
      <% doc = RedCloth.new(post.body); doc.filter_html = true %>
      <%= doc.to_html.html_safe %>
    </div>
  </div>
<% end %>
