<!DOCTYPE html>
<html>
<head>
  <title>AsocialFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if user_signed_in? %>
  <div id="nav_links_container">
    [ <%= link_to 'Posts', posts_path, :class=>"#{'current-page-link' if controller_name == 'posts'}" %>
    <%= link_to 'Topics', topics_path, :class=>"#{'current-page-link' if controller_name == 'topics'}" %> ]::[
    <%= current_user.email %> ]::[
    <%= link_to 'Sign out', destroy_user_session_path, :method=>:delete %> ]
  </div>
<% end %>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
