<!DOCTYPE html>
<html>
<head>
  <title>AsocialFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if user_signed_in? %>
  <div class="grid grid-pad" style="max-width: 100%; background-color: transparent;">
    <div class="col-1-12 push-right" style="text-align: right;"><%= link_to 'Sign out', destroy_user_session_path, :method=>:delete %></div>
    <div class="col-4-12 push-right" style="text-align: right;"><%= link_to current_user.email, edit_user_registration_path %></div>
    <div class="col-1-12">
      <%= link_to 'Posts', posts_path, :class=>"#{'current-page-link' if controller_name == 'posts'}" %>
    </div>
    <div class="col-1-12">
      <%= link_to 'Topics', topics_path, :class=>"#{'current-page-link' if controller_name == 'topics'}" %>
    </div>
  </div>
<% end %>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
