<!DOCTYPE html>
<html>
<head>
  <title>AsocialFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if user_signed_in? %>
  <%= link_to image_tag('forkme.png', :style => 'float: right;'), "https://github.com/cmititiuc/asocial-feed" %>
  <div id="header" class="grid grid-pad">
    <div id="logo" class="col-1-12"><%= link_to image_tag('logo.png'), root_path %></div>
    <div id="sign-out" class="col-1-12 push-right"><%= link_to 'Sign out', destroy_user_session_path, :method=>:delete %></div>
    <div id="email" class="col-5-12 push-right"><%= link_to current_user.email, edit_user_registration_path %></div>
    <div class="col-1-12 header-link">
      <%= link_to 'Topics', topics_path, :class=>"#{'current-page-link' if controller_name == 'topics'}" %>
    </div>
  </div>
<% end %>

<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
